src/main/webapp/cs213/cs213-examples/xml/byui.dtd

<!-- byui.dtd - a document type definition for
                  the byui.xml document, which specifies
                  a list byui academics -->

<!ELEMENT byui (college+)>
<!ELEMENT college (department+)>
<!ELEMENT department (#PCDATA)>
<!ELEMENT department1 (name, major+)>

<!ATTLIST college name CDATA #REQUIRED>
<!ATTLIST major id CDATA #REQUIRED>

<!ENTITY cse "Computer Science and Engineering">
